{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for ss in sneaker %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ ss.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ ss.pk }}">
                                    <label class="form-check-label">{{ ss.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ ss.price }}</p>
                            </div>
                            <p>{{ ss.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for vs in van %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ vs.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ vs.pk }}">
                                    <label class="form-check-label">{{ vs.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ vs.price }}</p>
                            </div>
                            <p>{{ vs.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email</label>
                    <input required class="form-control" type="text" placeholder="example@company.com" name="email" />
                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Street Address</label>
                            <input required class="form-control" type="text" placeholder="79 Main St" name="address" />
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Area</label>
                            <input required class="form-control" type="text" placeholder="Pimville" name="area" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Postal Code</label>
                            <input required class="form-control" type="text" placeholder="1804" name="postal_code" />
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                  Submit Order!
                </button>
                <!-- <button class="btn btn-dark mt-5">Place Order!</button> -->

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-dark">Place Order!</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
            </div>
            </div>
            </div>

{% endblock content %}